* {
    font-family: "Montserrat", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #8d8d8d;
}

.container {
    margin: auto;
    display: grid;
    grid-template-columns: 0.33fr 1fr;
    width: 210mm;
    height: 297mm;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.container .card-one {
    padding: 40px 20px;
    padding-left: 35px;
    background-color: #FF1493;
    width: 100%;
    color: #000000;
}

.container .card-one .profile {
    display: inline-flex;
    margin-bottom: 5px;
    margin-left: -15px;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 4px solid #000000;
    background-image: url("Rifky foto.jpg");
    background-position: center top;
    background-size: 100%;
}

.container .card-one .contact-box {
    margin top: 10px;
}

.container .card-one .contact-box>* {
    width: 100%;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    margin-top: 25px;
    align-items: center;
    color: #ffffff;
}

.container .card-one .contact-box> * .text {
    display: inline-flex;
    word-break: break-all;
}

.container .card-one .personal-box {
    margin-top: 35px;
}

.container .card-one .personal-box .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #000000;
    border-radius: 50%;
    margin-left: 4px;
}

.container .card-one .personal-box .dot.active {
    background-color: #ffffff;
}

.container .card-one .hobbies-box {
    margin-top: 35px;
}

.container .card-one .logo {
    margin: 10px 0px;
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr;
    font-size: 2.8em;
    grid-row-gap: 15px;
    color: #ffffff;
}

.container .card-two {
    background-color: #1E90FF;
    padding: 40px 20px;
    padding-right: 75px;
    color: #b5b5b4;
}

.container .card-two .head-title {
    font-size: 2.1em;
    color: #000000;
    font-weight: 400;
}

.container .card-two .box {
    display: inline-block;
    padding: 2px 70px 2px 20px;
    margin-left: -20px;
    margin-top: 35px;
    background-color: #ffffff;
    color: #000000
}

.container .card-two .group-a .desc {
    margin-top: 15px;
    line-height: 1.5;
    color: #ffffff;
    text-align: justify;
}

.container .card-two .group-b .desc {
    margin-top: 15px;
    margin-left: 20px;
    color: #ffffff;
    text-align: justify;
}

.container .card-two .group-b .desc ul {
    position: relative;
    margin-top: 20px;
    margin-left: 5px;
}

.container .card-two .group-b .desc ul::before {
    content: "";
    position: absolute;
    top: 12px;
    left: -22px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000000;
}

.container .card-two .group-b .desc ul li {
    list-style-type: none;
    position: relative;
}

.container .card-two .group-b .desc ul li::before {
    content: "";
    position: absolute;
    top: 12px;
    left: -18px;
    height: 60px;
    border-left: 2px solid #000000; 
}

.container .card-two .group-b .desc ul:last-of-type li::before {
    content: none;
}

.container .card-two .group-b .desc ul li div:last-of-type {
    color: #000000;
    font-weight: bold;
}

.container .card-two .group-c .desc {
    margin-top: 15px;
    margin-left: 20px;
    color: #ffffff;
}

.container .card-two .group-c .desc ul {
    position: relative;
    margin-top: 15px;
    margin-left: 5px;
}

.container .card-two .group-c .desc ul::before {
    content: "";
    position: absolute;
    top: 30px;
    left: -22px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000000;
}

.container .card-two .group-c .desc ul li {
    list-style-type: none;
    position: relative;
}

.container .card-two .group-c .desc ul li::before {
    content: "";
    position: absolute;
    top: 30px;
    left: -18px;
    height: 100px;
    border-left: 2px solid #000000;
}

.container .card-two .group-c ul li div:nth-child(2){
    color: #000000;
    font-weight: bold;
}